.board-item{
    background-color: white;
    height: 50px;
    width: 325px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 20px;
    font-size: 20px;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    display: flex;
    justify-content: space-around;
    z-index: 0;
}
.board-item:hover{
    font-size: 23px;
    /* font-weight: bold; */
    margin: 20px -6.5px;
    height: 70px;
    width: 380px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}