<div class="col-xs-12" style="text-align:center; font-size:24px; text-decoration:bold;">{{board.name | uppercase}}</div>
<!-- Board ID : {{boardId+1}} -->

<div>
    <app-board-todos></app-board-todos>
</div>
<hr>
<!-- <div > -->
  <div class="row">
  </div>
  <div style="display:inline-block" *ngFor="let todo of board.todo; let i=index"  >
    <div class=" todo-list"  >
      <span class="title">{{todo.title}}</span>
          <input name="task{{i}}" id="task{{i}}" type="text" class="form-control" (keyup.enter)="addTodo(i)"  >
          <!-- <span class="input-group-btn">
              <button class="btn btn-default" type="button" (ngSubmit)="addTodo(i)" (click)="addTodo(i)">Add</button>
          </span> -->
      <div style="min-height:20px;" [dragula]='"nested-bag"' [dragulaModel]="todo.list">
      <li *ngFor="let list of todo.list" [innerHTML]='list'></li>
    </div>
    </div>
  </div>